:root {
  --timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

body {
  max-width: 1200px;
}

/* кнопки-ссылки + подчеркивание с анимацией начало */
.header {
  outline: 1px solid green;
  margin-top: 20px;
}

.header-list {
  display: flex;
  list-style-type: none;
}

/* .header-item {
} */

.header-item:not(:last-child) {
  margin-right: 10px;
}

.header-link {
  outline: 1px solid tomato;

  position: relative;

  display: block;

  padding: 15px 5px;
  text-decoration: none;
  border-radius: 3px;
}

/* вариант 1 - базовая анимация - появляется-исчезает */

.header-link.link-one::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 5px;

  background-color: salmon;

  opacity: 0;

  transition: opacity 1000ms var(--timing-function);
}

.header-link.link-one:hover::after {
  opacity: 1;
}

/* вариант 2 - анимация ширины  */
.header-link.link-two::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 0%;
  height: 5px;

  background-color: aquamarine;

  transition: width 750ms var(--timing-function);
}

.header-link.link-two:hover::after {
  width: 100%;
}

/* вариант 3 - анимация на трансформацию и цвет линии */
.header-link.link-three::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 5px;

  transform: scaleX(0.01);

  background-color: violet;

  transition: transform 750ms var(--timing-function),
    background-color 750ms var(--timing-function);
}

.header-link.link-three:hover::after {
  transform: scaleX(100%);
  background-color: blue;
}

/* кнопки-ссылки + подчеркивание с анимацией конец  */

/* main  */
.main {
  outline: 1px solid salmon;
}

/* <!-- кнопка на которой есть псевдокласс и свг уезжает вверх а на ее место приезжвет другая начало -->/ */
.main-btn {
  background-color: rgb(215, 204, 226);
}

.btn {
  display: inline-flex;
  border: none;
  align-items: center;

  position: relative;

  margin: 20px;
  padding: 5px 15px;
  border-radius: 5px;

  background-color: pink;

  cursor: pointer;

  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 3ms;

  overflow: hidden;
}

.btn:hover,
.btn:focus {
  background-color: aquamarine;
}

.btn::after {
  content: "";

  margin-left: 10px;
  width: 20px;
  height: 20px;

  /* background-color: red; */
  background-image: url(/images/11066_53304f06eaeaf1dfba318bfdd5b5b1d8.jpg);
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: cover;

  transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn:hover::after,
.btn:focus::after {
  transform: translatey(-30px);
}

.btn::before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 59.5px;

  margin-left: 2px;
  width: 20px;
  height: 20px;

  transform: translateY(calc(-50% + 50px));

  transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);

  background-image: url(/images/25555a1593b3f3adac5fbbbbe2f5c1a2.jpeg);
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: contain;

  /* background-color: blue; */
}

.btn:hover::before,
.btn:focus::before {
  transform: translateY(50%);
}
/* <!-- кнопка на которой есть псевдокласс и свг уезжает вверх а на ее место приезжвет другая конец  -->/ */

/* модалка начало */
.main-modal {
  background-color: rgb(246, 212, 212);
}

.modal-open {
  display: block;

  padding: 3px 5px;
  margin-left: auto;
  margin-right: auto;
  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.06em;
  
  color: black;
  background-color: greenyellow;
  cursor: pointer;
  
  border-radius: 4px;
  border: groove;
  
  min-width: 100px;
  text-align: center;
}

.backdrobe {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(145, 207, 203, 20%);

  opacity: 1;

  transition: opacity 250ms var(--cubic),
  transform 250ms var(--cubic);
}

.backdrobe.is-hidden {
  opacity: 0;
  transform: scale(0);
  pointer-events: none;
}

.modal {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

min-width: 350px;
min-height: 450px;

padding: 10px;

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
background-color: floralwhite;

}

.modal-close {
  position: absolute;
  top: 5px;
  right: 5px;
  
  width: 50px;
  height: 30px;
  
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  
  background-color: var(--primary-white-color);
  
  cursor: pointer;
}

.modal-titel {
  margin: 5px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;

  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;

text-align: center;
 
  color: #212121;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-field label {
  margin-bottom: 5px;
}

.form-field input {
  margin: 0;
  padding: 6px 10px;

  border: 1px solid rgba(67, 3, 59, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  font-size: 16px;
}

.form-field input::placeholder {
  color: pink;
}

.group {
  margin-bottom: 20px;
}

.modal-subtitel {
  margin-top: 0;
  margin-bottom: 10px;
  
  text-align: center;
}

.topic-options,
.expirience-options {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* .topic-options input[checkbox] {
} */

.topic-options label {
  font-size: 16px;
    margin-left: 10px;
}

.topic-options li {
  display: flex;
  align-items: center;
}

/* .expirience-options {
} */

.date-label {
  text-align: center;
}

.form .date {
  background-color: rgb(246, 179, 179);
  color: aliceblue;

    border-color: black;
  border-width: 3px;
  border-color: red;

}

.form-field .date-input {
  width: 200px;
text-align: center;
margin-left: auto;
margin-right: auto;
}

.form-field-one {
  position: relative;

  margin-bottom: 20px;
}

.form-label-one {
position: absolute;
top: 50%;
left: 30px;

transform: translateY(-50%);
transition: transform 250ms linear;
}

.form-input-one {
  margin: 0;
  padding: 10px 20px;
  font: inherit;
  border-radius: 3px;
  border: 1px solid tomato;
}


/* поменяй цвет на красний єлементу которий ідет после тебя когда ти в фокусе  */
/* .form-input-one:focus + .form-label-one {
  transform: translateY(-50px);
  color: red;
} */

/* вибрать form-lable-one  которий ідет за form-input-one 
коли у того не показан placeholder та посунь його*/
.form-input-one:focus + .form-label-one,
.form-input-one:not(:placeholder-shown) + .form-label-one {
  transform: translateY(-50px);
  color: red;
 
}
/* коли нема фукаса на інпуті, то плейсхолдер показан */
.form-input-one:placeholder-shown {
  background-color: red;
}

/* форма */

.span-check {
  color: brown;
}

/* модалка конец */

/* section random_message */
.random_message_place {

  padding: 30px 30px;
  margin: 0 auto;
  
  width: 400px;
    
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.15;
  letter-spacing: 0.03em;

  display: flex;
  justify-content: center;
  animation: grow 2s;
  text-align: center;

  background-color: aqua;
  border: 1px solid black;   

  animation-name: open;
}

@keyframes open {
  0% {
    color: transparent;
    font-size: 0px;
    transform: scaleX(0.01);
  }

  70% {
    color: transparent;
    font-size: 0px;
  }

  100% {
    color: #212121;
    transform: scaleX(100%);
    font-size: 24px;

  }
}














































